modules = ["nodejs-20", "web", "bash", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["javascript_gemini_ai_integrations:2.0.0", "javascript_log_in_with_replit:2.0.0", "javascript_database:1.0.0", "javascript_object_storage:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 24111
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
FIREBASE_PROJECT_ID = "sage-78209"
ADMIN_UIDS = "JlLBDDgQpkRtgJ3efZ8Lp7yhijr2"
VITE_FIREBASE_API_KEY = "AIzaSyAi9anuQIw5cVjYzrGSzfZm-QoWuCTU_FA"
VITE_FIREBASE_AUTH_DOMAIN = "sage-78209.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "sage-78209"
VITE_FIREBASE_STORAGE_BUCKET = "sage-78209.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "1007529429917"
VITE_FIREBASE_APP_ID = "1:1007529429917:web:281f998a6a694e0c58fd74"
VITE_FIREBASE_MEASUREMENT_ID = "G-XKHQG5K531"
